[Desktop Entry]
Name=Firefox (Wine)
Comment=Windows Firefox in Wine
Exec=/usr/local/bin/run-firefox
Icon=/usr/share/pixmaps/firefox.xpm
Terminal=false
Type=Application
Categories=Network;WebBrowser;
